<form (ngSubmit)="onSearch()" [formGroup]="searchForm" class="search-form">
  <mat-form-field appearance="fill">
    <mat-label>Search for an item</mat-label>
    <input formControlName="name" matInput name="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <select formControlName="category" matNativeControl name="category">
      <option [ngValue]="null">All categories</option>
      <option
        *ngFor="let category of categories$ | async"
        [value]="category.strCategory"
      >
        {{ category.strCategory }}
      </option>
    </select>
  </mat-form-field>

  <div class="button-group">
    <button color="primary" mat-raised-button type="submit">Search</button>
  </div>
</form>

<div class="card-container">
  <mat-card *ngFor="let cocktail of cocktails$ | async" class="card">
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="[cocktail.idDrink]" class="card-title-link">{{
          cocktail.strDrink
        }}</a>
      </mat-card-title>
      <mat-card-subtitle>{{ cocktail.strCategory }}</mat-card-subtitle>
    </mat-card-header>
    <img
      [alt]="cocktail.strDrink"
      [src]="cocktail.strDrinkThumb"
      mat-card-image
    />
    <mat-card-content></mat-card-content>
    <mat-card-actions>
      <a [routerLink]="[cocktail.idDrink]" mat-button>See more</a>
    </mat-card-actions>
  </mat-card>
</div>
